*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.main{
    height: 800px;
    width: 1000px;
    margin: auto;
    background-color: rgb(18, 76, 99);
    display: grid;
    grid-template-rows: 150px 500px 150px ;
    border-radius: 37px;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow:  33px 33px 66px #bebebe,
                -33px -33px 66px #ffffff;
    /* box-shadow: 2px 2px 30px 30px rgb(2, 42, 59),
                -2px -2px 30px 30px rgb(151, 182, 196) ; */
}

.nav{
    
    background-color: rgb(18, 55, 98);
    
}

.sidebar{
    background-color: rgb(16, 79, 92);
}

.home{
    background-color: rgb(22, 95, 126);
}

.footer{
    background-color: rgb(18, 55, 98);
}

.middle{
    display: grid;
    grid-template-columns: 300px 700px;
}