body{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(191, 110, 167);
}
.login-box{
     margin: 0;
     padding: 0;
     font-family: 'Courier New', Courier, monospace;
     columns: green;
     outline: auto;
}
.login-box h2{

    text-align: center;
    margin: 20px;
}

.login-box label{
   font-family: 20px;
}

.login-box input{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    /* margin: 8px 0 15px 0; */
    padding: 8px;
    border-radius: 4px;
    border: black;
}

.login-box a{
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    text-decoration: none;
    color: dimgray;
}

