* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#box{
    height: 400px;
    width: 800px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: "Gravitas One", serif;
    
}

.plan{
    height: 360px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px 20px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
    
}
   
.plan,.blue{
    box-shadow: 2px 2px 10px black;
    transform: 0.3 ease;
    -webkit-transform: 0.3 ease;
    -moz-transform: 0.3 ease;
    -ms-transform: 0.3 ease;
    -o-transform: 0.3 ease;
}

.plan:hover,.blue:hover{
    box-shadow: 2px 2px 20px black;
    transform: translateY(-10px);
    
}


.blue{
    height: 360px;
    width: 240px;
background-color: rgb(31, 36, 57);
margin-top: 20px;
border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;


}

h3{
    margin-left: 20px;
    margin-top: 20px;
    color: #fffefe;
}

.plan h3{
    color: rgb(31, 36, 57) ;
}

p{
    padding-left: 20px;
    padding-top: 30px;
    color: rgb(31, 36, 57);
    font-size: 13px;
}

.blue p{
    color: #fffefe;
}

h2{
    margin-left: 20px;
    margin-top: 20px;
    color: #fffefe;
}

.plan h2{
    color: rgb(31, 36, 57) ;
}

button{
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(31, 36, 57);
    color: #fffefe;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blue button{
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fffefe;
    color: rgb(31, 36, 57) ;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

<<<<<<< HEAD

input [ol]{
    color: aqua;
=======
input[type="text"],input[type="number"]{
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
>>>>>>> e804569e3728f1fc9334489d9497bd4cd70ca8d7
}