* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

#box{
    height: 400px;
    width: 800px;
    background-color: #c0c0c0;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.plan{
    height: 360px;
    width: 240px;
    background-color: rgb(255, 255, 255);
    margin: 20px 20px 20px;
    border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;
}

.blue{
    height: 360px;
    width: 240px;
background-color: rgb(31, 36, 57);
margin-top: 20px;
border-radius: 5px ;
    -webkit-border-radius: 5px ;
    -moz-border-radius: 5px ;
    -ms-border-radius: 5px ;
    -o-border-radius: 5px ;


}

h3{
    margin-left: 20px;
    margin-top: 20px;
    color: #fffefe;
}

.plan h3{
    color: rgb(31, 36, 57) ;
}

p{
    padding-left: 20px;
    padding-top: 30px;
    color: rgb(31, 36, 57);
    font-size: 13px;
}

.blue p{
    color: #fffefe;
}

h2{
    margin-left: 20px;
    margin-top: 20px;
    color: #fffefe;
}

.plan h2{
    color: rgb(31, 36, 57) ;
}

button{
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(31, 36, 57);
    color: #fffefe;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.blue button{
    margin-left: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fffefe;
    color: rgb(31, 36, 57) ;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


input [ol]{
    color: aqua;
}