*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    font-family: "SN Pro", sans-serif;
}

#container{
    height: auto;
    width: auto;
    background-color: rgba(60, 201, 25, 0.504);
    display: grid; 
    grid-template-columns: 600px 500px;
    gap: 10px;
    padding:  10px 15px;
}

.large{
    background-color: aquamarine;
    height: 1500px;
    width: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



.mini{
    width: 500px;
    height: 600px;
    background-color: #b41e1e;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 10px;
   
   flex-wrap: wrap;
    flex-direction: column;  

}
.medium{
    background-color: blue;
    height: 300px;
    width: 500px;
}
.small{
    background-color: rgb(4, 45, 65);
  width: 500px;
  height: 240px;

    /* flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px; */
}

.photo{
    background-color: #ce1383;
    height: 200px;
    width: 550px;
    display: flex;
    margin: 30px;
    padding: 40px;

}

.game{
    background-color: #bea532;
    height: 150px;
   width: 200px;
   margin: 30px;

}

.travling {
    background-color: rgb(206, 113, 113);
    height: 80px;
    width: 200px;
    margin: 30px;
    

}

